<section>
	<div class="jumbotron text-center">

		<div class="row">
			<p class="lead">
				PAMINTA
			</p>
		</div>

	</div>
    <div id="slides_control">
        <div>
            <carousel ng-controller="HomeController" interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}">
                    <div class="carousel-caption">
                        <h4>{{slide.caption}}</h4>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</section>
