<section class="row">
	<h3 class="col-md-12 text-center">Sign in using your social accounts</h3>
	<div class="col-md-12 text-center">
        <!--TODO: link redirects to facebook not using api-->
		<a href="https://fb.com/" target="_self" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
        <!--TODO: link redirects to twitter not using api-->
		<a href="https://twitter.com/" target="_self" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
        <!--TODO: link redirects to google gravity not using api-->
		<a href="http://mrdoob.com/projects/chromeexperiments/google-gravity" target="_self" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
        <!--TODO: linekd in image link redirects to github in not using api-->
		<a href="/api/auth/github" target="_self" class="undecorated-link">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
        <!--TODO: github image link redirects to linkedin in not using api-->
		<a href="/api/auth/linkedin" target="_self" class="undecorated-link">
			<img src="/modules/users/img/buttons/github.png">
		</a>
	</div>
	<div ui-view></div>
</section>
